/* General styles for all menus */
.cbp-spmenu {
	background: #4A4C4E;
	position: fixed;
}



/* Orientation-dependent styles for the content of the menu */

.cbp-spmenu-vertical {
	width: 300px;
	height: 100%;
	top: 0;
	z-index: 1000;
	padding-left: 11px;
	color: white;
	overflow: hidden;
}


.cbp-spmenu-horizontal {
	width: 300px;
	height: 100%;
	left: 0;
	z-index: 1000;
	overflow: hidden;
}




/* Vertical menu that slides from the left or right */

.cbp-spmenu-left {
	left: -300px;
}

.cbp-spmenu-right {
	right: -240px;
}

.cbp-spmenu-left.cbp-spmenu-open {
	left: 0px;
}

.cbp-spmenu-right.cbp-spmenu-open {
	right: 0px;
}

/* Example media queries */

@media screen and (max-width: 55.1875em){

	.cbp-spmenu-horizontal {
		font-size: 75%;
		height: 110px;
	}

	.cbp-spmenu-top {
		top: -110px;
	}

	.cbp-spmenu-bottom {
		bottom: -110px;
	}

}

@media screen and (max-height: 26.375em){

	.cbp-spmenu-vertical {
		font-size: 90%;
		width: 300px;
	}

	.cbp-spmenu-left,
	.cbp-spmenu-push-toleft {
		left: -300px;
	}

	.cbp-spmenu-right {
		right: -190px;
	}

	.cbp-spmenu-push-toright {
		left: 190px;
	}
}