
@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 400;
  src: local('Calibri'), url(http://fonts.gstatic.com/l/font?kit=YH3ek_qpdaY7ILI-bfzlYQ&skey=a1029226f80653a8&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */


@font-face {
  font-family: 'Calibri';
  font-style: normal;
  font-weight: 700;
  src: local('Calibri Bold'), local('Calibri-Bold'), url(http://fonts.gstatic.com/l/font?kit=cCwcoZCh95jEfkePtzfl9_k_vArhqVIZ0nv9q090hN8&skey=cd2dd6afe6bf0eb2&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */

@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 400;
  src: local('Calibri Italic'), local('Calibri-Italic'), url(http://fonts.gstatic.com/l/font?kit=s6BJz6dd05IaBkVSZYii2ltXRa8TVwTICgirnJhmVJw&skey=36a3d5758e0e2f58&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */

@font-face {
  font-family: 'Calibri';
  font-style: italic;
  font-weight: 700;
  src: local('Calibri Bold Italic'), local('Calibri-BoldItalic'), url(http://fonts.gstatic.com/l/font?kit=tglRjQQneep4ISNw_cVZOOgdm0LZdjqr5-oayXSOefg&skey=8b00183e5f6700b6&v=v8) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}



body { 
	 font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 

	/* font-family: 'Calibri', Helvetica, Arial, sans-serif; */
	font-size: 12px;
}
.sidemenu {
	position: absolute;
	display: inline-block;
	background-color: #4a4c4e;
	width: 300px;
	height: 100%;
	min-height: 665px;
	padding-top: 56px;
	padding-left: 11px;
	color: white;
	overflow: hidden; 

}

.sidemenu-report {
	width:270px;
	overflow: auto;
	max-height: 400px;
}

.sidemenu-sub {
	width:270px;
	max-height: 400px;
}

.bkgr-black {
	background-color: #4a4c4e;
}

.bkgr-dark {
	background-color: #a3a3a3;
	color: white;
}

.btn-sidemenu {
	border: none;
	outline: none;
}

.indent10 {
	display: block;
	margin-left: 30px;
}

.menu-item {
	display: block;
	width: 273px;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffc711;
	color: #cbcbcb;
	padding-top: 5px;
	padding-bottom: 5px;
}

.item-last {
	border-bottom-style: none;
	border-bottom-width: 2px;
	border-bottom-color: #ffc711;

}

.menu-link {
	color: #cbcbcb;
	padding-left: 10px;
	

}

.menu-link:hover{
	color: white;
	text-decoration:none;
}

.main-content2 {
	position: absolute;
	left: 300px;
	width: calc(100% - 300px);
	min-width: 1000px;
	height: 100%;
	display: inline-block;

}

.main-content {
	position: relative;
	left: 300px;
	width: calc(100% - 300px);
	min-width: 1066px;
	height: 100%;
	display: inline-block;

}


.header {
	display: block;
	padding-top: 10px;
	padding-left: 24px;
	height: 56px;

}

.user-message {
	display: inline-block;
	margin-right: 32px;
	margin-left: auto;
	float: right;
	padding-top: 7px;
}

.module-title {
	margin-top: 10px;
	font-weight: bold;
}

.title {
	display: block;
	height: 31px;
	background-color:  #4a4c4e;
	color: white;
	padding-left: 24px;
	padding-top: 5px;
	vertical-align: middle;
}

.content-title {
	display: block;
	height: 31px;
	padding-left: 24px;
	padding-top: 4px;
	font-weight: bold;
	margin-top: 0px;
}

.content-title2 {
	display: block;
	height: 31px;
	padding-left: 10px;
	padding-top: 5px;
	font-weight: bold;
	color: white;
	margin-top: 28px;
	margin-bottom: 5px;
	margin-left: 24px;
	background-color: #4a4c4e;
	width: 600px;
	border-radius: 5px;
}

.content-title3 {
	display: block;
	min-height: 31px;
	padding-top: 5px;
	font-weight: bold;
	color: white;
	margin-bottom: 5px;
	margin-left: 24px;
	background-color: #4a4c4e;
	width: 600px;
	border-radius: 5px;
}

.width600 {
	width: 600px;
	margin-left: 24px;
	padding-left: 24px;
}
.width-priv{
	width: 510px;
}

.width-checkbox {
	width: 20px;
	display: inline-block;
}

.btn-group {
	display: block;
	height: 31px;
	padding-left: 0px;
	padding-top: 5px;
	margin-top: 0px;
	margin-bottom: 15px;
	margin-left: 24px;
	width: 600px;
	text-align: right;
}

.switch-lang {
	display: inline-block;
	width: 100px;
}

.welcome-user {
	display: inline-block;	
}

.login-logo {
	margin-top: 50px;
	margin-left: auto;
	margin-right: auto;
}

.login-input {
	outline: none;
	width: 311px;
	height: 38px;
	width: 311px;
	height: 38px;
	background-color : #ffc711;
	color: white;
	border-radius: 10px;
	display: block;
	border-style: none;
	text-align: center;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

}

.login-btn {
	outline: none;
	width: 311px;
	height: 38px;
	width: 311px;
	height: 38px;
	background-color : #807e7e;
	color: white;
	border-radius: 10px;
	display: block;
	border-style: none;
	text-align: center;
	margin-bottom: 10px;
	margin-left: auto;
	margin-right: auto;

}


.login-content {
	text-align: center;
}

.login_title {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 10px;
}

.user-search-item {
	display: inline-block;
}
.user-search {
	display: block;
	/* height: 31px; */
	padding-left: 24px;
	padding-top: 4px;
	margin-top: 0px;	
}
.user-search2 {
	display: block;
	/* height: 31px; */
	padding-left: 24px;
	padding-top: 4px;
	margin-top: 0px;	
}
.user-search2 input {
	border: none;
	outline: none;
	padding-left: 0px;
	padding-top: 5px;

}
.user-search2 select {
	width: 150px;
	outline: none;
	padding-left: 10px;
	padding-right: 0px;
	height: 28px;
	display: inline-block;
}

.user-search input {
	/*
	width: 125px;
	background-color: #cbcbcb;
	border: none;
	border-radius: 10px;
	outline: none;
	padding-left: 10px;
	padding-right: 30px;
	*/
}

.user-search select {
	/*
	width: 133px;
	background-color: #cbcbcb;
	border: none;
	border-radius: 10px;
	outline: none;
	padding-left: 10px;
	padding-right: 30px;
	height: 20px;
	*/
}


.button-search {
	position: relative;
	border: none;
	background-color: #cbcbcb;
	border-radius: 10px;
	outline: none;
	left: -20px;
}



.user-table {
	display: block;
	margin-right: 34px;
	margin-left: 24px;
	max-height: 400px;	
	overflow:auto;
	margin-top: 10px;

}

.table-head {
	display : block;
	min-height: 30px;
	background-color: #5a5a5a;
	border-radius: 5px;
	padding-top: 5px;
	margin-bottom: 5px;
}

.table-body {
	display : block;
	height: 30px;
	background-color: #5a5a5a;
	border-radius: 5px;
	padding-top: 3px;
	margin-bottom: 5px;
}



.table-head-item {
	display: inline-block;
	color: white;
	font-weight: bold;
	vertical-align: top;
}

.table-body-item {
	display: inline-block;
	white-space: nowrap;
}
.table-body:nth-child(even) {
	background-color: #ffe89c;
}

.table-body:nth-child(odd) {
	background-color: #ffc711;
}


.txt-right {
	text-align: right;
	padding-right: 10px;
}

.txt-left {
	text-align: left;
	padding-left: 20px;

}

.col-no {
	width : 42px;
	text-align: right;
	padding-right: 5px;
}
.col-nomor {
	width : 70px;
	text-align: right;
	padding-right: 5px;
}

.col-name {
	width : 198px;
	text-align: left;
	padding-left: 5px;

}

.col-username {
	width : 147px;
	text-align: left;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.col-filename {
	width : 300px;
	text-align: left;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.col-desc {
	width : 430px;
	text-align: left;
	padding-left: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: middle;
}

.col-group {
	width : 145px;
	text-align: left;
	padding-left: 5px;

}

.col-status {
	width : 153px;
	text-align: left;
	padding-left: 5px;

}

.col-last {
	width : 175px;
	text-align: left;
	padding-left: 5px;

}

.col-all {
	width : 110px;
	text-align: left;
	padding-left: 5px;

}

.col-not-found {
	width: 100%;
	text-align: center;
}
.check-all {
	background: white;
}

.col-desc {
	text-align: left;
	padding-left: 5px;
	width: 300px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	

}

.check-all[type="checkbox"] {
    display:inline-block;
    width:12px;
    height:12px;
    background-color: white;
    margin-left: 10px;
}

.check-item[type="checkbox"] {
    width:12px;
    height:12px;
    background-color: white;
    margin-left: 25px;
}

.navigator {
	display: block;
	margin-right: 35px;
	margin-left: 24px;	
	height: 41px;
	margin-top: 10px;
}

.navigator-2 {
	display: block;
	margin-right: 0px;
	margin-left: 0px;	
	height: 41px;
	margin-top: 10px;
}


.pages {
	margin-top: -20px;
	float: left;
}

.command {
	display: inline-block;	
	float: right;
}

.btn {
	text-align: center;
	border-radius: 5px;
	border: none;
	width :132px;
	height: 33px;
	font-weight: bold;
	color: white;
	outline: none;
}

.red {
	background-color: red;
}

.blue {
	background-color: blue;
}

.select-status {
	
	width: 120px;
	height: 23px;
	background-color: #cbcbcb;
	outline: none;
	padding-left: 20px;
	border: none;
	
}

.group-table {
	display: block;
	margin-right: 34px;
	margin-left: 24px;
	max-height: 465px;	
	overflow:auto;
	margin-top: 10px;

}

.col-74 {
	width: 74px;
	text-align: left;
	padding-left: 5px;

}

.col-81 {
	width: 81px;
	text-align: left;
	padding-left: 5px;
}


.col-133 {
	width: 133px;
	text-align: left;
	padding-left: 5px;
}

.col-97 {
	width: 97px;
	text-align: left;
	padding-left: 5px;
}

.col-122 {
	width: 122px;
	text-align: left;
	padding-left: 5px;
}

.col-93 {
	width: 93px;
	text-align: left;
	padding-left: 5px;
}

.ui_content {
	margin-left: 24px;
	margin-right: 34px;
	display: block;
	background-color: white;
	width: 400px;

}

.ui_content_title {
	display: block;
	padding-top: 10px;
	padding-left: 15px;
	font-weight: bold;
	padding-bottom: 10px;
}

.ui_menu{
	display: block;
	margin-top: 10px;
	margin-left: 10px;
	margin-bottom: 10px;
	width: 600px;
	border-radius: 5px;
	background-color: white; 
}

.ui-menu-item {
	display: block;
	padding-left: 20px;
	padding-top: 5px;
	background-color: #ffc711;
	border-radius: 5px;
	margin-top: 5px;
	height: 50px;
	vertical-align: top;
}

.btn-down {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	position: relative;
	top:3px;
	border: none;
	background-color: #ffc711;
	outline: none;
}

.btn-up {
	display: inline-block;
	font-size: 24px;
	text-align: center;
	position: relative;
	top:3px;
	display: none;
}

.ui-menu-item-title {
	display: inline-block;
	width: 520px;
	font-weight: bold;
	margin-top: -10px;
}

.ui_menu_item:hover {
	text-decoration:none;	
}

.active {
	background-color: #ffe89c;
	font-weight: bold;
	border-top-left-radius: 5px;
	border-bottom-left-radius:5px;
}

.ui_content_menu_map {
	display: inline-block;
	background-color: #ffe89c;
	width: 650px;
	vertical-align: top;
	margin-left: -3px;
	margin-top: 10px;
	height: 333px;

}

.ui_content_menu_map_block_btn {
	display: block;
	position: relative;
	height: 37px;
}

.ui_detail {

	margin: 10px;
	margin-top: -15px;
	display: block;
	height: 250px;
	overflow: auto;
	width: 370px;

}
.table-title {
	margin: 10px;
	display: block;
}

.ui-item-id {
	display: inline-block;
	width: 30px;
}

.ui-item-name {
	display: inline-block;
	width: 200px;
}

.bold {
	font-weight: bold;
}

.btn-right {
	float: right;
	margin-top: 5px;
	margin-right: 20px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-style: none;
	background-color: green;
	color: white;
	font-weight: bold;
	border-radius: 10px;

}

.audit_trail_filter {
	margin-left: 21px;
}

.filter_label {
	display: inline-block;
	width: 100px;
}

.rows {
	display: block;
	min-height: 30px; 
}

.rows-2 {
	display: block;
	height: 23px; 
	margin-bottom: 2px;
	margin-top: 2px;
	padding-left: 20px;
	/* border-radius: 5px; */
}

.rows-3 {
	display: block;
	height: 23px; 

	margin-top: 2px;
	padding-left: 20px;
	background-color: #ffc711;
	/* border-radius: 5px; */
}

.rows-4 {
	display: block;
	height: 23px; 

	margin-top: 2px;
	padding-left: 20px;
	background-color: #ffe89c;
	/* border-radius: 5px; */
}

.c-odd {
	background-color: #ffc711;
}

.c-even {
	background-color: #ffe89c;
}

.row-vh {
	display: block;
	/* border-radius: 5px; */
}

.rows-2:nth-child(even) {
	background-color: #ffc711;
}

.rows-2:nth-child(odd) {
	
	background-color: #ffe89c;
}
.rows-btn-check {
	display: block;
	min-height: 30px; 
}

.rows-btn-add-user {
	display: none;
	min-height: 30px; 
}

.filter_item {
	display: inline-block;
	width: 150px;
	background-color: #cbcbcb;
	height: 25px;
	border-style: none;
	border-radius: 20px;
	outline: none;
	padding-left: 10px;
}

.btn_filter {
	padding-left:10px;
	padding-right: 10px;
	background-color: green; 
	border-style: none;
	color: white;
	height: 25px;
	border-radius: 20px;
	outline: none;

}

.btn_filter:hover{
	background-color: red
}

.log-table {
	display: block;
	margin-right: 34px;
	margin-left: 24px;
	max-height: 350px;	
	overflow:auto;
	margin-top: 10px;

}

.ontop {
	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;				
	background-color: black;
	color: #aaaaaa;
	opacity: .7;
	filter: alpha(opacity = 1);
}

.ontop2 {
	z-index: 2000;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;				
	background-color: black;
	color: #aaaaaa;
	opacity: .7;
	filter: alpha(opacity = 1);
	cursor: wait;
}


.del-confirm {
	z-index: 1000;
	width: 300px;
	position: fixed;
	color: #000000;
	background-color: #ffffff;
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
	display: none;
	padding: 10px;
}

#popup {
	width: 300px;
	height: 200px;
	position: absolute;
	color: #000000;
	background-color: #ffffff;
	/* To align popup window at the center of screen*/
	top: 50%;
	left: 50%;
	margin-top: -100px;
	margin-left: -150px;
}
.confirm-title {
	background-color: #cbcbcb;
	display: block;
	width: calc(100% - 10px);
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	text-align: center;
	color: white;
	font-weight: bold;
	text-transform: uppercase;
	border-radius: 5px;
	height: 30px;
	padding-top: 5px;
	vertical-align: middle;


}

.confirm-message {
	padding-top: 10px;
	display: block;
	width: 100%;
	color : black;
	text-align: center;
	padding-bottom: 20px;
}

.contact-message {
	display: block;
	width: 100%;
	color : black;
	text-align: center;
	padding-bottom: 20px;
}
.confirm-btn {
	text-align: center;
}

.user_detail {
	padding-top: 10px;
	padding-left: 10px;
	display: block;
	background-color: #ffc711;
	width :600px;
	margin-left: 24px;
	border-radius: 5px;

}
.group_detail {
	padding-top: 10px;
	padding-left: 10px;
	display: block;
	background-color: #ffc711;
	width :600px;
	margin-left: 24px;
	border-radius: 5px;

}

.table-module {
	padding-top: 0px;
	padding-left: 0px;
	display: block;
	width :600px;
	margin-left: 24px;
	border-radius: 5px;

}

.label-item {
	display: inline-block;
	width: 100px;
	font-weight: bold;
	vertical-align: middle;
}
.label-item-var {
	display: inline-block;
	font-weight: bold;
	vertical-align: middle;
	padding-right: 10px;
}

.detail-item {
	display: inline-block;
	padding-left: 10px;
}

.area-btn {
	padding-top: 10px;	
	padding-left: 10px;
	display: block;
	width :600px;
	margin-left: 24px;
	text-align: right;
}

.pop-user-modify {
	display: none;
	background-color: white;
	width :324px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -162px;
}

.pop-user-add {
	display: none;
	background-color: white;
	width :400px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -200px;
}


.modify-title {
	background-color: #ffc711;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-left: 5px;
	height: 30px;
	font-weight: bold;
	width: calc(100% - 10px);
	padding-top: 5px;
	margin-bottom: 10px;
}

.modify-content {
	padding-left: 10px;
	padding-top: 10px;
}

.add-user-content {
	padding-left: 20px;
	padding-top: 20px;
}

.inner-area-btn {
	padding-top: 10px;	
	padding-left: 10px;
	display: block;
	margin-left: 0px;
	text-align: center;
	padding-right: 10px;
	padding-bottom: 10px;
}

double {
	vertical-align: top;
}
.radio-label {
	display: inline-block;
	vertical-align: top;
	padding-left: 10px;
	padding-top: 2px;
	padding-right: 10px;
}

.input-items {
	width: 400px;
}

.fall {
	width :150px;
}

.pop-ldap-user {
	z-index: 1001;
	display: none;
	background-color: white;
	width :600px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -300px;
	padding-bottom: 20px;	
}

.pop-ch-pass {
	display: none;
	background-color: white;
	width :350px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -175px;	
	padding-bottom: 10px;
}

.pop-msg-pass {
	z-index: 1001;
	display: none;
	background-color: white;
	width :300px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -150px;
	padding-bottom: 20px;	
}

.ui-datepicker-trigger {
	border : none;
	background-color: white;
}

.pop-add-user {
	display: none;
	background-color: white;
	width :700px;
	margin-left: 24px;
	padding-top: 5px;
	box-shadow: 10px 10px 5px #888888;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -350px;	
	padding-bottom: 10px;
}

.ldap-status {
	display: none;
}

.error-status {
	display: none;
}

.ldap-status-title {
	background-color: blue;
	height: 30px;
	text-align: center;
	text-transform: uppercase;
	font-weight: bold;
	color: white;
	margin-top: 10px;
	padding-top: 5px;
	margin-right: 10px;
	margin-bottom: 10px;
}

.pop-add-group {
	display: none;
	background-color: #ffc711;
	width :600px;
	margin-left: 24px;
	padding-top: 5px;
	box-shadow: 10px 10px 5px #888888;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -300px;
}

.command-line {
	padding-top: 10px;
	padding-bottom: 10px;
}

.add-modify-ui-detail{
	display: none;
	background-color: white;
	width :400px;
	margin-left: 24px;
	padding-top: 5px;
	position: fixed;
	top:100px;
	left: 50%;
	margin-left: -200px;
}

.privilage-content{
	margin-left: 24px;
	margin-right: 34px;
	display: block;
	background-color: #ffc711;
	border-radius: 5px;
	padding: 10px;
}

.module-section {
	font-weight: bold;
	display: block;
}

.privilege-item {
	padding-left: 30px;
	display: inline-block;
	width: 250px;
}

.hide {
	display: none;
}

.std-btn {
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	padding-top: 4px;
	padding-bottom: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	height: 25px;

}

.std-btn:disabled {
	background-color: #d8d6d6;
}

.std-btn:hover:enabled{
	opacity: .5;
}

.bkgr-green {
	color: white;
	background-color: #45d772;
}

.bkgr-blue {
	color: white;
	background-color: #4a55dc;
}

.bkgr-red {
	color: white;
	background-color: #ef3838;
}

.bkgr-grey {
	color: white;
	background-color: #c2c0c0;
}

.mod-col-1{
	padding-top: -10px;
	padding-left: 10px;
	width: 100px;
	display: inline-block;
}
.mod-col-2{
	display: inline-block;	
	width: 550px;
}
.mod-col-3{
	display: inline-block;
}

.padding10 {
	padding-top: 1px;
}

.width10 {
	width: 131px;
}

.width15 {
	width: 170px;
}

.width200 {
	width: 250px;
}

.std-input {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	outline: none;
	width: 150px;
	padding-left: 10px;
	height: 27px;
}

.std-input2 {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	outline: none;
	width: 205px;
	padding-left: 10px;
}

.std-input3 {
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
	outline: none;
	width: 100px;
	padding-left: 10px;
	height: 27px;
}

.center10{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 30px;
}
.center11{
	text-align: center;
	margin-bottom: 10px;
	margin-top: 10px;
}

.center21{
	text-align: center;
}

.tips {
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.add-access-module {
	z-index: 1000;
	width: 326px;
	height: 152px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;

}



.error-message {
	z-index: 1000;
	width: 326px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;

}

.show-contact {
	z-index: 1000;
	width: 326px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	padding-bottom: 10px;
	display: none;
	background-color: white;
	padding-top: 7px;

}

.add-access-module2 {
	z-index: 1000;
	width: 326px;
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;

}

.add-access-module3 {
	z-index: 1000;
	width: 650px;
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-top: -76px;
	margin-left: -325px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;

}

.save-privilege-complete {
	z-index: 1000;
	width: 326px;
	height: 152px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;

}

.del-access-module {
	z-index: 1000;
	width: 326px;
	height: 152px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;

}

.privilege-btn {
	display: block;
	width: 600px;
	text-align: right;
	margin-left: 24px;
	margin-top: 10px;
}

.input-username {
	margin-left: 20px;
	margin-right: 20px;
	width: calc(100% - 40px);
	height: 37px;
	padding-left: 10px;
	padding-right: 10px;
	outline: none;
	text-align: center;
	border-radius: 5px;
	border: 1px solid #ccc;
}

.add-user-cmd {
	text-align: center;
}

.add-user-msg-error {
	display: block;
	height: 50px;
	text-align: center;
	color: red;
	margin-top: 10px;
	margin-bottom: 10px;
}

.fix-width-100 {
	width: 100px;
}

.list-user  {
	display: none;
	max-height: 200px;
	overflow: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-bottom: 20px;

}

.std-radio {

}

.radio-area{
	
}

.radio-text {
	display: inline-block;
	width: 200px;
}

.col-username2 {
	padding-left: 20px;
	width:150px;
}
.source-user{
	width:150px;
	display: inline-block;
}

.ui-detail {
	background-color: #ffe89c;
	margin-top: 3px;
	margin-bottom: 3px;
	border-radius: 3px;
	padding: 10px;
	min-height: 35px;
	max-height: 400px;
	overflow: auto;

}

.ui-detail-content {
	display: block;
	max-height: 200px;
	overflow: auto;
}

.ui-detail-row {
	display: block;
	border-bottom-width: 1px;
	border-bottom-color: #ffc711;
	border-bottom-style: solid;
	height: 35px;
	margin-left: 20px;
	margin-right: 20px;
	padding-top: 5px;
}

.ui-detail-item {
	display: inline-block;
}

.ui-detail-item-btn {
	display: inline-block;
	position: relative;
	top: -2px;
	float: right;
	margin-right: 5px;
}

.margin-5 {
	margin-left: 10px;
}

.ui-control {
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 15px;
}

.input-ui-detail {
	display: block;
	text-align: center;
	width: calc(100% - 80px);
	height: 35px;
	border-radius: 3px;
	border: 1px solid #ffc711;
	margin-left: 40px;
	margin-right: 40px;
	margin-bottom: 10px;
	outline: none;
}

.right {
	text-align: right;
	float: right;
	margin-right: 10px;
}

.width150 {
	width :140px;
}

.width250 {
	width :250px;
}

.w100{
	width :100px;	
}

.rut_content {
	margin-left: 25px;
	margin-top: 10px;
	display: block;
	background-color: #ffc711;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	border-radius: 5px;
	width: 730px;
}

.rut-btn-block{
	margin-left: 25px;
	margin-top: 10px;
	display: block;
	background-color: white;
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 20px;
	border-radius: 5px;
	width: 730px;
	text-align: right;
}

.rut-title{
	margin-left: 25px;
	font-weight: bold;
	display: block;
}

.table-risk {
	margin-left: 25px;
	width: 730px;
	display: block;
}

.rut-col-1 {
	display: inline-block;
	width: 130px;
	padding-left: 20px;
	vertical-align: middle;
}
.rut-col-1-2 {
	display: inline-block;
	width: 50px;
	padding-left: 20px;
	vertical-align: middle;
}
.rut-col-2 {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
}

.rut-col-2-2 {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
	width: 200px;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	overflow: hidden;

}
.rut-col-3 {
	display: inline-block;
	padding-left: 20px;
	vertical-align: middle;
	width: 180px;
	text-overflow: ellipsis;
	white-space: nowrap;
	
	overflow: hidden;
}

.opco-content {
	margin-left: 20px;
	margin-left: 20px;
	margin-top: 0px;
	margin-bottom: 5px;
	width: 700px;
}

.tab-constant {
	width: 100px;
	text-align: center;
	text-transform: uppercase;
}

.tab-content{
    /*background-color: #ffc711;*/
    /*padding:5px;*/
    height: 450px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 1000px;
}

.tab-content > .active {
	border-radius: 0px;
	/*background-color: #ffc711;*/
	background-color: white;
}

.tab-content > .tab-pane {
	max-height: 400px;
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	overflow: auto;
	font-weight: normal;

}

.nav-tabs > li > a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ffe89c;
	border-width: 0px;
	color: black;
	/* text-transform: uppercase; */

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
	background-color: #ffc711; 
	border:none;
}
.nav-tabs > li > a:hover {
	background-color: #eaaf00;
}

.nav-tabs > li.active {
	background-color: white;
}

.nav-tabs > li {
	background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #ffc711;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 0px;
}

.font-normal {
	font-weight: normal;
}

.text-right {
	display: inline-block;
	float: right;
}

.value-item {
	display: inline-block;
	/* background-color: white; */
	width: 68px;
}

.number-format {
	text-align: right;
	width: 100px;
	display: inline-block;
}

.input-90 {
	width: 90px;
	text-align: right;
	border-style: solid;
	border-width: 1px;
	border-color: #f9f7f7;
	height: 21px;
	border-radius: 3px;
	padding-right: 5px;
	margin-top: 1px
}
input[type=number] {
	-moz-appearance: textfield;
	
}

::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

.input-90:disabled {
	background-color: #fcf8ea;
	/*background: transparent; */ 
}

.input-90:-moz-read-only {
	background-color: #fcf8ea;
	/*background: transparent; */ 
}

.input-90:read-only {
	background-color: #fcf8ea;
	/*background: transparent; */ 
}


.width98 {
	width: 98px;
	text-align: right;
	padding-right: 5px;
	display: inline-block;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.deviden {
	display: block;
	height: 20px;
	background-color: #ffc711;
	border-top-right-radius: 10px;
}

.deviden2 {
	display: block;
	height: 147px;
	background-color: #ffe283;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}
.deviden3 {
	display: block;
	height: 247px;
	background-color: #ffe283;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
}

.width161 {
	width: 162px;
}
.cmd-command {
	display: block;
	width: 700px;
	text-align: right;
}

.std-select{
	border-radius: 5px;
	outline: none;
	height: 27px;
	display: inline-block;
}

.std-select:disabled {
	background-color: #d8d6d6;
	color: white;
}

.align-right {
	text-align: right;
	padding-right: 10px;
}
.margin-top-3 {
	margin-top: 3px;
}

.opco-filter-table{
	margin-left: 24px;
	margin-right: 24px;
	max-height: 80%;
	
	overflow: auto;
}

.fo-c1 {
	width: 50px;
	text-align: center;	
}

.fo-c2 {
	width: 200px;
	text-align: left;

}

.fo-c3 {
	width: 200px;
	text-align: left;
		
}
.fo-c4 {
	width: 200px;
	text-align: left;
		
}

.fo-c5 {
	width: 200px;
	text-align: left;
		
}

.breadcrumb {
	padding-left: 24px;
	margin-bottom: 5px;
}
.breadcrumb>li+li:before {
	content: "»";
}

.user-search-title {
	width: 75px;
	display: inline-block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.wid {
	display: inline-block;
}

.inc-c1 {
	width: 50px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c2 {
	width: 150px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c3 {
	width: 180px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c4 {
	width: 138px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c5 {
	width: 150px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c6 {
	width: 100px;
	vertical-align: middle;
	text-align: left;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.inc-c7 {
	width: 180px;
	text-align: left;
	vertical-align: middle;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;

}

.incident-content {
	display: block;
	margin-left: 24px;
	margin-right: 24px;


}

.tab-content > .risk-pane {
	background-color: #FFC711 !important;
	max-height: 500px; /* 440px; */
	height: 500px; /* 440px; */
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.risk-setting {

	width: 100%;
} 

.risk-pane > .column50 {
	display: inline-block;
	width: 48%;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}

.risk-pane > .column100 {
	display: block;
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: top;
	margin-right: 10px;
}

.rc1 {
	display: inline-block;
	width: 125px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
}

.rc1-title {
	display: inline-block;
	white-space: nowrap;
	overflow: hidden;
	
}

.rc2 {
	vertical-align: middle;
	display: inline-block;
	content: ':';
}

.rc2:before {
	content: ': ';
}


.rc3 {
	display: inline-block;
	width: 192px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.rc3-input {
	vertical-align: middle;
	display: inline-block;
	content: ':';
}

.rc3-input:before {
	content: ': ';
}

.std-textarea {
	display: block;
	border-radius: 5px;
	width: 100%;

}

.rc-items {
	font-size: 10px;
	display: inline-block;
	background-color: #4A4C4E;
	color: white;
	border-radius: 5px;
	padding-left : 5px; 
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
	margin-bottom: 5px;

}

.btn-rc {
	font-weight: bold;
	color: black;
	margin-left: 5px;
	background-color: #f5f5f5;
	border-radius: 3px;
	border-style: none;
	padding-top: 0px;
}

.rc-data-area{
	display: inline-block;
	margin-left: 135px;
	position: relative;
}

.after-close {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #fbfcab;
	border-radius: 5px;
	width: 390px;
	margin-left: 10px;
	padding: 4px;
	background-color: #fbfcab;
}

.rows2 {
	display: block;
	min-height: 20px; 
}

.fc-1 {

	font-weight: bold;
	display: inline-block;
}

.fc-1:before {
	content: '* ';
}

.fc-2 {
	display: inline-block;
	float: right;
	text-align: right;
}

.fc-2:before {
	
}
.c1-h {
	display: inline-block;
	width: 150px;
	text-align: center;
	height: 73px;
	padding-top: 30px;
	font-weight:bold;
	margin-top: 2px;
}

.c2-h {
    display: inline-block;
    vertical-align: top;
    text-align: left;
    width: calc(100% - 153px);
    margin-left: -1px;
}

.attactment-content {
	padding: 10px;
}

.margin-left30 {
}

.content-message {
	padding: 10px;
}
.content-message2 {
	padding: 10px;
	text-align: center;
	display: block;
}

.label-text {
	display: block;
	margin-top: 10px;
	text-align: left;
	margin-bottom: 5px;
}

.inline {
	display: inline-block;
}

.dis:disabled {
	background-color: #fcd96f;
	color: black;
	border: none;
}

.alink {
	font-size: 12px;
	font-weight: normal;
}

.dis {
    overflow: hidden;
}

select:disabled {
	padding-left: 10px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.params-label {
	display: inline-block;
	width: 100px;
	vertical-align: middle;
}

.parameters-area {
	display: block;
	width: 100%;
	padding-left: 25px;
	padding-right: 25px;
}

.btn {
	text-align: center;
	border-radius: 5px;
	border: none;
	width :132px; 
	height: 33px;
	font-weight: bold;
	color: white;
	outline: none;
}


.btn {
    display: inline-block;
    text-align: left;
    /* padding: 6px 12px; */ 
    /* margin-bottom: 0; */
    width: auto;
    font-size: 11px;
    /*
    font-weight: 100;
    */
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-image: none;
    border-width: 1px;
    border-style: solid;
    border-color: grey;
    border-radius: 4px;
    color: black;
}





.c-label {
	display: inline-block;
	text-align: left;
	padding-left: 20px;
	width: 100px;
}
.c-input {
	display: inline-block;
	text-align: left;
}

.report-form {
    padding-top: 10px;
    display: block;
    width: 100%;
    color: black;
    text-align: left;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

.add-report {
	z-index: 1000;
	width: 450px;
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;
}


.opco-col-3{
	display: inline-block;
	width: 100px;
	text-align: center;
	vertical-align: middle;
}

.opco-col-1{
	padding-left: 10px;
	display: inline-block;
	width: 420px;
}

.priv-opco {
	max-height: 280px;
	margin-left: 25px;
	overflow: auto;  
	width: 1017px;
}

.report-col-1{
	padding-left: 10px;
	display: inline-block;
	width: 650px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.report-col-3{
	display: inline-block;
	width: 100px;
	text-align: center;
}

.login-title {
	font-size: 16px;
	font-weight: bold;
	padding-top: 20px;
}