.ui-datepicker-trigger {
	border : none;
	background-color: #ffc711;

}

.ui-datepicker-title {
	background-color: #ffc711;
}

.ui-datepicker-header {
	background-color: #ffc711;

}

.ui-widget-header {
	background: #ffc711 url("images/ui-bg_highlight-soft_75_cccccc_1x100.png") 50% 50% repeat-x !important;
}

.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default {
    border: 1px solid #d3d3d3;
    background: #fffabd url("images/ui-bg_glass_75_e6e6e6_1x400.png") 50% 50% repeat-x !important;;
    font-weight: normal;
    color: #555555;
}

.ui-state-hover, .ui-widget-content .ui-state-hover, .ui-widget-header .ui-state-hover, .ui-state-focus, .ui-widget-content .ui-state-focus, .ui-widget-header .ui-state-focus {
    border: 1px solid #999999;
    background: #e6b545 url("images/ui-bg_glass_75_dadada_1x400.png") 50% 50% repeat-x;
    font-weight: normal;
    color: #ffffff;
}