body { 
	 font-family: 'Century Gothic', CenturyGothic, AppleGothic, sans-serif; 

	/* font-family: 'Calibri', Helvetica, Arial, sans-serif; */
	font-size: 12px;
}

.login-content {
	display: block;
	background-color: white;

}

.login-logo {
	width: 75%;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

.module-title {
	font-weight: bold;
	text-align: center;
}

.login-title {

}
.login-area {
	display: block;
	width: 100%;
	padding-left: 5px;
	padding-right: 5px;
}

.login-input {
	display:block;
	width: 100%;
	background-color: #FFE89C;
	font-weight: normal;
	text-align: center;
	margin-bottom: 5px;
}
.login-btn {
	display: block;
	width: 100%;
	background-color: #4a55dc;
	font-weight: bold;
	color: white;
}

.login-message {
	text-align: center;
	color: red;
}

.main-content {
	margin: 0px;
	margin-top: 60px;
}

.title {
	display: block;
	background-color: #5A5A5A;
	width: 100%;
	height: 30px;
	color: white;
	font-weight: bold;
	padding-left: 24px;
	padding-top: 7px;
}

.breadcrumb {
	padding-left: 24px;
}
.breadcrumb>li+li:before {
	content: "»";
}

.table-body {
	display: block;
	background-color: #FFC711;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	border-radius: 5px;
	padding: 10px;

}

.table-body-item {
	display: inline-block;

}


.rows {
	display: block;
}

.c1 {
	width: 150px;
}

.c2:before {
	content: ": ";
}


.header.fixed
{
	z-index: 100;
	position: fixed;
	top: 0;
	left: 0;
	background-color: white;
	display: block;
	width: 100%;
}

.logo-white {
	height: 20px;
	width: auto;
}
.img-menu-bar {
	height: 17px;
	width: auto;
}
.menu-bar {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-top: 5px;
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	border: none;
	background-color: white;
}

.switch-lang{
	display: inline-block;
	margin-right: 20px;
	margin-left: auto;
	float: right;
	margin-top: 10px;
}

.content {
	margin-top: 40px;
}

.container {
	margin: 0;
	padding: 0;
}

.menu-item {
	display: block;
	border-bottom-style: solid;
	border-bottom-width: 2px;
	border-bottom-color: #ffc711;
	color: #cbcbcb;
	padding-top: 5px;
	padding-bottom: 5px;
}

.menu-link {
	color: #cbcbcb;
	padding-left: 10px;
	

}

.menu-link:hover{
	color: white;
	text-decoration:none;
}

.btn-sidemenu {
	border: none;
	outline: none;
}

.bkgr-black {
	background-color: #4a4c4e;
}

.sidemenu-report {
	width:270px;
	overflow: auto;
	max-height: 300px;
}

@media screen and (max-height: 320px){
	.sidemenu-report {
		max-height: 100px;
	}
}

.sidemenu-close {
	margin-top: 10px;
	border: none;
	float: right;
	display: block;
	color: white;
	margin-right: 20px;
	padding: 5px;
	background-color: #ef3838;

}

.ontop {
	
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;				
	background-color: black;
	color: #aaaaaa;
	opacity: .7;
	filter: alpha(opacity = 1);
	overflow: hidden;
}

.user-search2 {
	padding: 5px;
}

.user-search-title {
	vertical-align: middle;
	display: inline-block;
	width: 50px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.std-input {
    display: inline-block;
    box-sizing: border-box;
    margin-bottom: 5px;
    height: 27px;
    border-radius: 5px;
	
		
}

.std-input input {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 27px;
	outline: none;
	padding-left: 10px;
}

.mobile-select {
	border: 1px solid #ccc;
	border-radius: 5px;
	height: 27px;
	outline: none;
	padding-left: 10px;
	width: 160px;
}

.width10 {
	width: 131px;
}

.user-search-item {
	display: inline-block;
}

.std-btn {
	padding-left: 20px;
	padding-right: 20px;
	border: none;
	padding-top: 4px;
	padding-bottom: 5px;
	border-radius: 5px;
	text-transform: uppercase;
	font-weight: bold;
	outline: none;
	height: 25px;

}

.bkgr-green {
	color: white;
	background-color: #45d772;
}

.bkgr-blue {
	color: white;
	background-color: #4a55dc;
}

.bkgr-red {
	color: white;
	background-color: #ef3838;
}

.bkgr-grey {
	color: white;
	background-color: #c2c0c0;
}
.navigator {
	display: block;
	margin: 5px;
}

.footer {
	z-index: 100;
    background: #E0E3E5;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    height: 50px;
    opacity: 0.9;
}    

.command {
	padding-top: 10px;
	text-align: center;
}

.ontop {
	z-index: 200;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	display: none;
	position: fixed;				
	background-color: black;
	color: #aaaaaa;
	opacity: .7;
	filter: alpha(opacity = 1);
}

.add-access-module2 {
	z-index: 1000;
	width: 326px;
	display: none;
	position: fixed;
	top: 30%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;

}

.add-access-module3 {
	z-index: 1000;
	width: calc(100% - 20px);
	display: none;
	position: fixed;
	top: 30%;
	left: 10px;
	margin-top: -76px;
	margin-left: 0px;
	display: none;
	background-color: white;
	padding-top: 7px;
	padding-bottom: 10px;

}

.user-table {
	padding-bottom: 50px;
}

.modify-title {
	background-color: #ffc711;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-left: 5px;
	height: 30px;
	font-weight: bold;
	width: calc(100% - 10px);
	padding-top: 5px;
	margin-bottom: 10px;
}

.content-message {
	padding: 10px;
}
.content-message2 {
	padding: 10px;
	text-align: center;
	display: block;
}

.modify-title {
	background-color: #ffc711;
	display: block;
	text-align: center;
	text-transform: uppercase;
	margin-left: 5px;
	height: 30px;
	font-weight: bold;
	width: calc(100% - 10px);
	padding-top: 5px;
	margin-bottom: 10px;
}

.center21{
	text-align: center;
}

.std-textarea {
	display: block;
	border-radius: 5px;
	width: 100%;

}

.confirm-btn {
	text-align: center;
}

.incident-content {
	display: block;
	margin-left: 5px;
	margin-right: 5px;

}

.width161 {
	/* width: 162px; */
}

.incident-content {
	display: block;
	margin-left: 5px;
	margin-right: 5px;

}

.tab-content > .risk-pane {
	background-color: #FFC711 !important;
	/* max-height: 440px;
	height: 440px; */
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

.risk-setting {

	/* width: 100%; */
} 

.tab-content > .tab-pane {
	/* max-height: 400px; */
	margin-top: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	margin-right: 0px;
	/* overflow: auto; */
	font-weight: normal;
	padding-bottom: 50px;

}

.tab-content{
    /*background-color: #ffc711;*/
    /*padding:5px;*/
    /*height: 440px;*/
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    /* width: 100%; */
}

.tab-content > .active {
	border-radius: 0px;
	/*background-color: #ffc711;*/
	background-color: white;
}

.risk-pane > .column50 {
	display: block;
	/* width: 100%; */
	margin-left: 10px;
	margin-top: 10px;
	margin-bottom: 10px;
	vertical-align: top;
}

.risk-pane > .column100 {
	display: block;
	margin-left: 10px;
	margin-top: 0px;
	margin-bottom: 10px;
	padding-top: 10px;
	vertical-align: top;
	margin-right: 10px;
}

.rc1 {
	display: inline-block;
	width: 115px;
	white-space: nowrap;
	overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: middle;
}

.rc2 {
	display: inline-block;
	content: ':';
}

.rc2:before {
	content: ': ';
}

.dis:disabled {
	background-color: #fcd96f;
	color: black;
	border: none;
}

.width250 {
	width :200px;
}

.width177 {
	width :177px;
}

.std-select{
	border-radius: 5px;
	outline: none;
	height: 27px;
	display: inline-block;
	background-color: white;
}

.std-select:disabled {
	background-color: #FCD96F;
	color: black;
}

select:disabled {
	padding-left: 5px;
   -moz-appearance: none;
   -webkit-appearance: none;
   appearance: none;
}

.attactment-content {
	padding: 5px;
}

.bkgr-yellow-thin {
	background-color: #FCD96F;
}

.add-access-module {
	z-index: 1000;
	width: 326px;
	height: 152px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	display: none;
	background-color: white;
	padding-top: 7px;

}

.confirm-message {
	padding-top: 10px;
	display: block;
	width: 100%;
	color : black;
	text-align: center;
	padding-bottom: 20px;
}

.confirm-btn {
	text-align: center;
}

.show-contact {
	z-index: 1000;
	width: 326px;
	display: none;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: -76px;
	margin-left: -163px;
	padding-bottom: 10px;
	display: none;
	background-color: white;
	padding-top: 7px;

}

.nav-tabs > li > a {
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	background-color: #ffe89c;
	border-width: 0px;
	color: black;

}

.nav-tabs > li.active > a,
.nav-tabs > li.active > a:focus {
	background-color: #ffc711; 
	border:none;
}
.nav-tabs > li > a:hover {
	background-color: #eaaf00;
}

.nav-tabs > li.active {
	background-color: white;
}

.nav-tabs > li {
	background-color: white;
}

.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    color: #555;
    cursor: default;
    background-color: #ffc711;
    border: none;
    border-bottom-color: transparent;
}

.nav-tabs {
	border-bottom: 0px;
}

.nav > li > a {
    position: relative;
    display: block;
    padding: 10px 12px;
}

.padding5 {
	padding-left: 10px;
	padding-right: 10px;
}

.padding-bottom5 {
	padding-bottom: 5px;
}

.btn-rc {
	font-weight: bold;
	color: black;
	margin-left: 5px;
	background-color: #8f8ffc;
	border-radius: 3px;
	border-style: none;
	padding-top: 0px;
	float: right;
	position: relative;
	top: 0;
}

.rc-data-area{
	display: inline-block;
	margin-left: 125px;
	position: relative;
	margin-right: 25px;
}

.rc-items {
	font-size: 10px;
	display: block;
	background-color: blue;
	color: white;
	border-radius: 5px;
	padding-left : 5px; 
	padding-right: 5px;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-right: 5px;
	margin-bottom: 5px;

}

input[type=number] {
	-moz-appearance: textfield;
	
}

::-webkit-inner-spin-button { -webkit-appearance: none;}
::-webkit-outer-spin-button { -webkit-appearance: none;}

.after-close {
	display: block;
	border-style: solid;
	border-width: 1px;
	border-color: #fbfcab;
	border-radius: 5px;
	width: calc(100% - 55px);
	margin-left: 10px;
	padding: 4px;
	background-color: #fbfcab;
}

.rows2 {
	display: block;
	min-height: 20px; 
}

.fc-1 {
	font-weight: bold;
	display: inline-block;
}

.fc-1:before {
	content: '* ';
}

.fc-2 {
	display: inline-block;
	float: right;
	text-align: right;
}

.fc-2:before {
	
}

input {
	border-style: solid;
	border-width: 1px;
	border-color: #BABABA;
}

.contact-message {
	display: block;
	width: 100%;
	color : black;
	text-align: center;
	padding-bottom: 20px;
}

.user-search2 {
	display: block;
	/* height: 31px; */
	padding-left: 24px;
	padding-top: 4px;
	margin-top: 0px;	
}
.user-search2 input {
	border: none;
	outline: none;
	padding-left: 0px;
	padding-top: 5px;

}
.user-search2 select {
	width: 150px;
	outline: none;
	padding-left: 10px;
	padding-right: 0px;
	height: 28px;
	display: inline-block;
}